@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@300;500;700;800;900&display=swap");
* {
	box-sizing: border-box;
}

body {
	background-color: rgb(38, 37, 37);
	color: rgb(232, 218, 218);
	line-height: 1.35rem;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-size: 22px;
}

h1 {
	color: rgb(219, 164, 105);
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 1rem;
	padding: 2rem;
}

.results {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.spacer {
	width: 98vw;
	height: 1px;
	background: #333;
	margin: 0 auto;
}

.scroll-to-top {
	transition: 0.3s;
	position: fixed;
	padding: 0.35rem;
	bottom: 20px;
	right: 20px;
	opacity: 0;
	visibility: hidden;
	visibility: hidden;
	opacity: 0;
	/* Add any other styles you want for the button here */
}

.scroll-to-top-show {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}

form {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

input {
	font-size: 18px;
	border-radius: 10px;
	padding: 0.5rem;
	padding-left: 1rem;
	width: auto;
}

label {
	padding-block: 1rem;
}

button {
	background: rgb(219, 164, 105);
	font-size: 18px;
	border: 1px solid grey;
	border-radius: 10px;
	color: #222;
	outline: none;
	margin-block: 1rem;
	padding: 1rem;
	width: 120px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
